@page "/"
@using TFT_HexGrid.Grids;

@inject IJSRuntime jsRuntime

<h1>SVG Hex Grid</h1>

<div class="form-group row ml-0">
    <div class="col-xs-2 w-10 mr-3">
        <label for="rowCount" class="mb-sm-0">Rows</label>
        <input class="form-control form-control-sm" id="rowCount" type="text" @bind="_rowCount">
    </div>
    <div class="col-xs-2 w-10 mr-3">
        <label for="colCount" class="mb-sm-0">Columns</label>
        <input class="form-control form-control-sm" id="colCount" type="text" @bind="_colCount">
    </div>
    <div class="col-xs-2 w-10 mr-3">
        <label for="sideLength" class="mb-sm-0">Side Length (96 = 1")</label>
        <input class="form-control form-control-sm" id="sideLength" type="text" @bind="_sideLen">
    </div>
</div>

<div class="form-group row ml-2">
    <div class="col-xs-2 w-10 mr-3 form-row align-items-center">
        @foreach (var scheme in new[] { OffsetScheme.Even_Q, OffsetScheme.Odd_Q, OffsetScheme.Even_R, OffsetScheme.Odd_R })
        {
            <label class="mr-3" style='margin-bottom:0rem !important;' >
                <input name="offsetScheme" type="radio" value="@scheme" checked="@(_offsetScheme == scheme)" @onchange="@(() => { _offsetScheme = scheme; })" />
                @scheme.ToString()
            </label>
        }
    </div>
    <div class="col-xs-2 w-10 mr-3">
        <button class="btn btn-outline-primary btn-sm" @onclick="GenerateTheGrid">Generate The Grid</button>
    </div>
    <div class="col-xs-2 w-10 mr-3">
        <button class="btn btn-outline-primary btn-sm" @onclick="SaveMe" disabled="@_saveDisabled">Save To File</button>
    </div>
</div>

<div class="form-group row ml-0">
    <div class="col-xs-2 w-10 mr-3">
        <label for="hexStrokeWidth" class="mb-sm-0">Hex Line Thickness</label>
        <input class="form-control form-control-sm" id="hexStrokeWidth" type="text" @bind="_hexStrokeWidth">
    </div>
    <div class="col-xs-2 w-10 mr-3">
        <label for="hexStroke" class="mb-sm-0">Hex Line Color</label>
        <input class="form-control form-control-sm" id="hexStroke" type="text" @bind="_hexStroke">
    </div>
    <div class="col-xs-2 w-10 mr-3 form-row align-items-end">
        <label for="showStars" class="ml-3" style="margin-bottom:0rem !important;">
            <input id="showStars" type="checkbox" @bind="_showStars">
            Show Center Points
        </label>
    </div>
</div>

<div class="form-group row ml-0">
    <div class="col-xs-2 w-10 mr-3">
        <label for="megaStrokeWidth" class="mb-sm-0">Megahex Line Thickness</label>
        <input class="form-control form-control-sm" id="megaStrokeWidth" type="text" @bind="_megaStrokeWidth">
    </div>
    <div class="col-xs-2 w-10 mr-3">
        <label for="megaStroke" class="mb-sm-0">Megahex Line Color</label>
        <input class="form-control form-control-sm" id="megaStroke" type="text" @bind="_megaStroke">
    </div>
</div>

<div class="form-group">
    <label class="mb-sm-0">@_hexLabel</label>
    <div id="svgDiv" @ref="_divRef" @onclick="SvgOnClick" @oncontextmenu="SvgOnClick" @oncontextmenu:preventDefault="true" >
        <BSvg @ref="_svgRef" ViewBox="-408 -528 816 1056"
              HexStroke="@_hexStroke" HexStrokeWidth="@_hexStrokeWidth"
              MegaStroke="@_megaStroke" MegaStrokeWidth="@_megaStrokeWidth"
              ShowStars=@_showStars />
    </div>
    <button class="btn btn-outline-primary btn-sm" @onclick="Swap" disabled="@_saveDisabled">Swap View</button>
</div>

