@page "/"

@inject IJSRuntime jsRuntime

<div class="form-group row ml-0 align-items-center">
    <div class="mr-3 mb-3" style="width:55px">
        <label for="rowCount" class="mb-0">Rows</label>
        <input type="number" min="1" step="1" class="form-control form-control-sm" id="rowCount" @bind="_rowCount">
    </div>
    <div class="mr-3 mb-3" style="width:55px">
        <label for="colCount" class="mb-0">Cols</label>
        <input type="number" min="1" step="1" class="form-control form-control-sm" id="colCount" @bind="_colCount">
    </div>
    <div class="mr-5 mb-3" style="width:75px">
        <label for="size" class="mb-0">Size &Prime;</label>
        <input type="number" min="1" class="form-control form-control-sm" id="size" @bind="_size">
    </div>
    
    <div class="mr-3 mb-3" style="width:80px">
        <label for="style" class="mb-0">Style</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="style" checked="@(_isStylePointy == false)" @onchange="@(() => ToggleStyle())">
            <label class="custom-control-label" for="style">@_styleText</label>
        </div>
    </div>
    <div class="mr-3 mb-3" style="width:80px">
        <label for="offset" class="mb-0">Offset</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="offset" checked="@(_isOffsetOdd == false)" @onchange="@(() => ToggleOffset())">
            <label class="custom-control-label" for="offset">@_offsetText</label>
        </div>
    </div>
    <div class="mr-3 mb-3" style="width:80px">
        <label for="skew" class="mb-0">Skew</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="skew" checked="@(_isSkewRight == false)" @onchange="@(() => ToggleSkew())">
            <label class="custom-control-label" for="skew">@_skewText</label>
        </div>
    </div>
    
    <div class="mr-3 mb-3">
        <button class="btn btn-outline-primary btn-sm" @onclick="GenerateTheGrid">Generate The Grid</button>
    </div>
    <div class="mr-3 mb-3">
        <button class="btn btn-outline-primary btn-sm" @onclick="SaveMe" disabled="@_saveDisabled">Save To File</button>
    </div>
</div>

<div class="form-group row ml-0">
    <div class="form-group mr-0">
        <small class="form-text text-muted">Hexagon Lines</small>
        <div class="form-group row ml-3 mr-0">
            <div class="mr-3" style="width:55px">
                <label for="hexStrokeWidth" class="mb-0">Width</label>
                <input type="number" min="1" class="form-control form-control-sm" id="hexStrokeWidth" @bind="_hexStrokeWidth">
            </div>
            <div style="width:55px">
                <label for="hexStroke" class="mb-0">Color</label>
                <input class="form-control form-control-sm" id="hexStroke" type="color" @bind="_hexStroke">
            </div>
        </div>
    </div>
    <div class="ml-3">
        <small class="form-text text-muted">Megahex Lines</small>
        <div class="form-group row ml-3">
            <div class="mr-3" style="width:55px">
                <label for="megaStrokeWidth" class="mb-0">Width</label>
                <input type="number" min="1" class="form-control form-control-sm" id="megaStrokeWidth" @bind="_megaStrokeWidth">
            </div>
            <div class="mr-4" style="width:55px">
                <label for="megaStroke" class="mb-0">Color</label>
                <input class="form-control form-control-sm" id="megaStroke" type="color" @bind="_megaStroke">
            </div>

        </div>
    </div>
    <div class="ml-3">
        <small class="form-text text-muted">Fill Colors</small>
        <div class="form-group row ml-3">
            <div class="mr-3" style="width:55px">
                <label for="hexagonFill" class="mb-0">Hex</label>
                <input class="form-control form-control-sm" id="hexagonFill" type="color" @bind="_hexFill">
            </div>
            <div class="mr-4" style="width:55px">
                <label for="backgroundFill" class="mb-0">BG</label>
                <input class="form-control form-control-sm" id="backgroundFill" type="color" @bind="_bgFill">
            </div>
            <div class="mt-3 form-row align-items-end">
                <label for="showStars" class="ml-3" style="margin-bottom:0rem !important;">
                    <input id="showStars" type="checkbox" @bind="_showStars">
                    Show Center Points
                </label>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row ml-0 mb-1" >
        <div class="mr-3 ml-0 row">
            <label for="widthInches" class="col-form-label col-form-label-sm ml-0 mr-1">Width</label>
            <input type="number" min="1" class="form-control form-control-sm ml-1 mr-0" id="widthInches" @bind="_widthInches" style="width:55px">
        </div>
        <div class="mr-3 ml-0 row" >
            <label for="heightInches" class="col-form-label col-form-label-sm ml-0 mr-1">Height</label>
            <input type="number" min="1" class="form-control form-control-sm ml-1 mr-0" id="heightInches" @bind="_heightInches" style="width:55px">
        </div>
        <div class="mr-3 ml-0">
            <button class="btn btn-outline-primary btn-sm" @onclick="SetViewBox">Set Dimensions</button>
        </div>
    </div>
    <div id="svgDiv" @ref="_divRef" @onclick="SvgOnClick" @oncontextmenu="SvgOnClick" @oncontextmenu:preventDefault="true" class="mb-2">
        <BSvg @ref="_svgRef" ViewBox="@_viewBox"
              BackgroundFill="@_bgFill"
              HexStroke="@_hexStroke" HexStrokeWidth="@_hexStrokeWidth" HexFill="@_hexFill"
              MegaStroke="@_megaStroke" MegaStrokeWidth="@_megaStrokeWidth"
              ShowStars=@_showStars />
    </div>
    <button class="btn btn-outline-primary btn-sm" @onclick="Swap" disabled="@_saveDisabled">Swap View</button>
</div>

